{{ define "management/article.html" }}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>gin-blog-后台管理</title>
    <link rel="icon" href="/static/imgs/index/title.png" type="image/x-icon"> 
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        function delete_confirm(url)
        {
        var r=confirm("您确定要删除吗?")
          if(r){window.location.href=url
          }
        }
        function open_confirm(url)
        {
        var r=confirm("您确定要启用此账号吗?")
          if(r){window.location.href=url
          }
        }
        function close_confirm(url)
        {
        var r=confirm("您确定要停用此账号吗?")
          if(r){window.location.href=url
          }
        }
        function update_user(id,nickname,email,birthday,age,phone) {
        $( '#update_id').val(id);
        $( '#update_nickname').val(nickname);
        $( '#update_email').val(email);
        $( '#update_birthday').val(birthday);
        $( '#update_age').val(age);
        $( '#update_phone').val(phone);
        }
       
    </script>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <img style="margin-top: 70px;" alt="" height="60px" width="" src="/static/imgs/management/title2.png" />
                    </div>
                    <div class="col-md-6 column">
                    </div>
                    <div class="col-md-4 column"> 
                    </div>
                </div>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div style="margin-top: 20px;" class="tabbable" id="tabs-577358">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="/management" >用户管理</a>
                                    </li>
                                    <li  >
                                        <a href="/management/permission">权限管理</a>
                                    </li>
                                    <li class="active"  >
                                       <a href="/management/articles" >文章管理</a>
                                    </li>
                                    <li  >
                                       <a href="/management/roles" >角色管理</a>
                                    </li>
                                    <li>
                                        <a href="/management/tags" >标签管理</a>
                                    </li>
                                    <li>
                                        <a href="/management/messages" >留言板管理</a>
                                    </li>
                                    <li>
                                        <a href="/management/comments" >评论管理</a>
                                    </li> 
                                    <li>
                                        <a href="/management/likes" >点赞管理</a>
                                    </li> 
                                </ul>
                            </div>
                            <div style="margin-top: 20px;margin-left: -10px;" class="col-md-12 column">
                                <span style="font-size: medium ;" class="label label-info">文章管理</span>
                            </div>
                            <div class="col-md-12 column">
                                <nav style="margin-left: -10px;margin-top:10px;" class="navbar navbar-default" role="navigation">
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <form class="navbar-form navbar-left" role="search" action="/management/articles/search" method="post">
                                            <div class="form-group">
                                                <input placeholder="输入文章标题搜索" type="text" name="blog_title" class="form-control" />
                                            </div> <button type="submit" style="margin-left: 10px;" class="btn btn-primary">查询</button><a role="button" class="btn btn-default" style="margin-left: 10px;" href="/management/articles">重置</a>
                                        </form>
                                    </div>
                                </nav>
                            </div>
                            <!-- 消息提醒 -->
                            <div class="col-md-12 column">
                                <div style="margin-top: 10px;" class= "{{ .style }}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                        <strong>{{ .msg }}</strong>   
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr class="danger" >
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            发布日期
                                        </th>
                                        <th>
                                            作者
                                        </th>
                                        <th>
                                            标题
                                        </th>
                                        <th>
                                            概览
                                        </th>
                                        <th>
                                            点赞
                                        </th>
                                        <th>
                                            评论
                                        </th>
                                        <th>
                                            浏览量
                                        </th>
                                        <th>
                                            是否匿名
                                        </th>
                                        <th>
                                            标签
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range .articles }}
                                        <tr class="info" >
                                            <td>
                                                {{ .ID }}
                                            </td>
                                            <td>
                                                {{ .ReleaseDate }}
                                            </td>
                                            <td>
                                                {{ .Author }}
                                            </td>
                                            <td>
                                                <textarea style="background: rgba(255,255,255,0.5);"  cols="20" rows="3">{{ .BlogTitle }}</textarea>
                                                
                                            </td>
                                            <td>
                                                <textarea style="background: rgba(255,255,255,0.5);"  cols="20" rows="3">{{ .BlogContentOverview }}</textarea>
                                            </td>
                                            
                                            <td>
                                                {{ .Likes }}
                                            </td>
                                            <td>
                                                {{ .Comments }}
                                            </td>
                                            <td>
                                                {{ .NumberOfViews }}
                                            </td>

                                            <td>
                                                {{ if .IfAnonymous}}
                                                    <p>匿名</p>
                                                {{ else }}
                                                    <p>实名</p>
                                                {{ end }}
                                            </td>
                                            <td>
                                                {{ .Tag }}
                                            </td>
                                            <td>
                                                <button style="font-size: xx-small;" class="btn btn-danger" onclick="delete_confirm('/management/articles/delete?id={{ .ID }}')" > 删除</button>
                                            </td>
                                        </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                            <nav style="height: 20px;" class="navbar navbar-default navbar-fixed-top" role="navigation">
                                <div style="margin-left: 270px;margin-top: 15px;" class="navbar-header">
                                    <p> <a style="margin-left: 10px;color: black;font-size: larger;" href="/index">Blog首页</a>
                                        <a style="margin-left: 10px;color: black;font-size: larger;" href="/article/list?tag=Python&page=1">文章列表</a>
                                        <a style="margin-left: 15px;color: black;font-size: larger;" href="/my">我的文章</a> 
                                        <a style="margin-left: 15px;color: black;font-size: larger;" href="/index/userinfo">个人中心</a>
                                        <a style="margin-left: 15px;color: black;font-size: larger;" href="/management">管理入口</a>
                                        <img src="/static/imgs/index/user.png" width="20px" height="20px" style="margin-left: 380px;" alt="">
                                        <a style="margin-left: 10px;color: black;font-size: larger;" href="/index/userinfo">{{ .currentUser }}</a> 
                                        <a style="margin-left: 30px; color: black;font-size: larger;" href="/logout">退出登录</a>
                                    </p>
                                </div>   
                            </nav>
                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                </div>
                                <div class="col-md-4 column">
                                </div>
                                <div class="col-md-4 column">
                                    <ul style="float: right;" class="pagination">
                                        <!-- 分页 -->
                                        <a style="float:right; font-size: small;margin-top: 10px;" role="button" class="btn btn-default" href="/management/articles" >返回首页</a>
                                        {{ $page := add .currentPage -1 }}
                                        {{if lt $page 1}}
                                            <a style="font-size: small;margin-top: 10px;margin-right: 10px;" role="button" class="btn btn-info" href="/management/articles/page?page=1" >上一页</a>
                                        {{ else }}
                                            <a style="font-size: small;margin-right: 10px;margin-top: 10px;" role="button" class="btn btn-info" href="/management/articles/page?page={{add .currentPage -1 }}" >上一页</a>
                                        {{end}}
                                        <a style="float: right; font-size: small;margin-right: 10px;margin-top: 10px;" role="button" class="btn btn-info" href="/management/articles/page?page={{add .currentPage 1 }}" >下一页</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 修改用户信息模态框 -->
                <div class="modal fade" id="modal-container-207301" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    修改用户信息(用户名不允许修改!)
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/management/user/update" method="post" >
                                    <div class="form-group">
                                        <label for="update_id">ID</label><input type="text" class="form-control" name="update_id" readonly="readonly" id="update_id" />
                                    </div>
                                    <div class="form-group">
                                        <label for="update_nickname">昵称</label><input type="text" class="form-control" name="update_nickname" id="update_nickname" />
                                    </div>
                                    <div class="form-group">
                                        <label for="update_email">邮箱</label><input type="email" class="form-control" name="update_email" id="update_email" />
                                    </div>
                                    <div class="form-group">
                                        <label for="update_birthday">生日</label><input type="date" class="form-control" name="update_birthday" id="update_birthday" />
                                    </div>
                                    <div class="form-group">
                                        <label for="update_age">年龄</label><input type="text" class="form-control" name="update_age" id="update_age" />
                                    </div>
                                    <div class="form-group">
                                        <label for="update_phone">手机号</label><input type="text" class="form-control" name="update_phone" id="update_phone" />
                                    </div>
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 
                <!-- 添加用户模态框 -->
                <div class="modal fade" id="modal-container-207299" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    添加用户
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/management/user/add" method="post" enctype = "multipart/form-data">
                                    <div class="form-group">
                                        <label for="phone">手机号</label><input type="text" class="form-control" name="phone" />
                                    </div>
                                    <div class="form-group">
                                        <label for="username">用户名</label><input type="text" class="form-control" name="username" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">密码</label><input type="password" class="form-control" name="password" />
                                    </div>
                                    <div class="form-group">
                                        <label for="group_id">用户组</label>
                                        <select name="group_id" class="form-control">
                                            <option value="1">管理员</option>
                                            <option value="2">顾客</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 
                <!--批量导入用户的模态框-->
                <div class="modal fade" id="modal-container-207300" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    导入用户
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/managementUser/import" method="post" enctype = "multipart/form-data">
                                    <div style="margin-top: 15px;" class="form-group">
                                            <label for="user_file">请上传EXCEL文件</label><input role="button"  type="file" name="user_file" />
                                        <p style="margin-top: 10px;" class="help-block">
                                            模板下载链接如下:
                                            <a href="/managementUser/download">点击下载</a>
                                        </p>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-primary">导入</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>
{{ end }}